ul.breadcrumb {
    padding: 8px 16px;
    list-style: none;
    background-color: #4CAF50;
    color:white;
}
ul.breadcrumb li {display: inline;}
ul.breadcrumb li+li:before {
    padding: 8px;
    color: white;
    content: "/\00a0";
}
ul.breadcrumb li a {
    color: white;
    text-decoration: none;
}
